

.navbar {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.gird-area {
    display: grid;
    grid-template-areas:'nav nav nav'
                        'sidebar main main';

}
